<header class="w-100 shadow-sm" [hidden]="isHidden">
    <div class="l-header">
        <div class="l-header-left">
            <button class="btn btn-sm btn-outline-secondary" (click)="leftSidebarComponent.showSidebar()"><i class="fa fa-bars"></i></button>
        </div>
        <div class="l-header-middle">
            <user-header-friend></user-header-friend>
        </div>
        <div class="l-header-right">
            <button class="btn btn-sm btn-outline-secondary" (click)="rightSidebarComponent.toggleSidebar()"><i class="fa fa-user"></i></button>
        </div>
    </div>
    <user-header-left-sidebar #leftSidebarComponent></user-header-left-sidebar>
    <user-header-right-sidebar #rightSidebarComponent></user-header-right-sidebar>
</header>
