<div class="row h-100">
    <div class="col-12 col-sm-8 px-0 mx-auto my-auto" style="max-width: 600px;">
        <div class="card shadow-lg">
            <div class="card-header px-5"><strong>Connexion</strong></div>
            <div class="card-body px-4">
                <div *ngIf="errorConnection" class="alert alert-warning" role="alert">{{errorConnection}}</div>
                <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input formControlName="pseudo" type="text" class="form-control" placeholder="pseudo" 
                        [ngClass]="{'is-invalid': (pseudoCtrl.dirty || submitted) && pseudoCtrl.errors, 'is-valid': pseudoCtrl.dirty && !pseudoCtrl.errors}">
                        <div *ngIf="pseudoCtrl.errors" class="invalid-feedback">
                            <div *ngIf="submitted && pseudoCtrl.errors.required">champ obligatoire</div>
                            <div *ngIf="pseudoCtrl.errors.pattern">saisir au moins 2 lettres</div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input formControlName="password" type="password" class="form-control" placeholder="password" 
                        [ngClass]="{'is-invalid': (passwordCtrl.dirty || submitted) && passwordCtrl.errors, 'is-valid': passwordCtrl.dirty && !passwordCtrl.errors}">
                        <div *ngIf="passwordCtrl.errors" class="invalid-feedback">
                            <div *ngIf="submitted && passwordCtrl.errors.required">champ obligatoire</div>
                            <div *ngIf="passwordCtrl.errors.pattern">saisir au moins 8 caractères alphanumériques</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
                </form>
                <div class="pt-3 border-top">
                    Vous n'avez pas de compte! <a [routerLink]="['/' + global.domainAppUrl + '/inscription']">s'inscrire</a>
                </div>

                <!-- Loading -->
                <!-- <div class="text-center">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div> -->

                <!-- DDDDDDDD -->
                <!-- <p>
                        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                          Toggle
                        </button>
                      </p>
                      <div id="collapseExample" [ngbCollapse]="isCollapsed">
                        <div class="card">
                          <div class="card-body">
                            You can collapse this card by clicking Toggle
                          </div>
                        </div>
                      </div> -->

            </div>
        </div>
    </div>
</div>
