<div class="row h-100">
    <div class="col-12 col-sm-8 px-0 mx-auto my-auto" style="max-width: 600px;">
        <div class="card shadow-lg">
            <div class="card-header px-5"><strong>Connexion</strong></div>
            <div class="card-body px-4">
                <div *ngIf="errorConnection" class="alert alert-warning" role="alert">{{errorConnection}}</div>
                <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input formControlName="pseudo" type="text" class="form-control" placeholder="pseudo" 
                        [ngClass]="{'is-invalid': (ctrl.pseudo.dirty || submitted) && ctrl.pseudo.errors, 'is-valid': ctrl.pseudo.dirty && !ctrl.pseudo.errors}">
                        <div *ngIf="ctrl.pseudo.errors" class="invalid-feedback">
                            <div *ngIf="submitted && ctrl.pseudo.errors.required">champ obligatoire</div>
                            <div *ngIf="ctrl.pseudo.errors.pattern">saisir au moins 2 lettres</div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input formControlName="password" type="password" class="form-control" placeholder="password" 
                        [ngClass]="{'is-invalid': (ctrl.password.dirty || submitted) && ctrl.password.errors, 'is-valid': ctrl.password.dirty && !ctrl.password.errors}">
                        <div *ngIf="ctrl.password.errors" class="invalid-feedback">
                            <div *ngIf="submitted && ctrl.password.errors.required">champ obligatoire</div>
                            <div *ngIf="ctrl.password.errors.pattern">saisir au moins 8 caractères alphanumériques</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-outline-primary">Se connecter</button>
                    </div>
                </form>
                <div class="pt-3 border-top">
                    Vous n'avez pas de compte! <a [routerLink]="['/' + global.domainAppUrl + '/sign-up']">s'inscrire</a>
                </div>
            </div>
        </div>
    </div>
</div>
