/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    overflow-x: hidden;
}

.invalid-feedback {
    display: block;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}